@model DataDeevakonda.Models.Aquarium

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aquarium</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AquariumName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AquariumName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.childTicketPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.childTicketPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.entryTicketPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.entryTicketPrice)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.AquariumID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
