@model IEnumerable<DataDeevakonda.Models.Aquarium>

@{
    ViewData["Title"] = "Aquariums";
}

<h2>Aquariums</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AquariumName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.childTicketPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entryTicketPrice)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AquariumName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.childTicketPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entryTicketPrice)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.AquariumID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.AquariumID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.AquariumID">Delete</a>
        </td>
    </tr>
}
</table>
