﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div  role="listbox">
        <div class="item active">
            <img src="~/images/aqua1.jpg" alt="ASP.NET" class="img-responsive" style="width:100%;height:400px;"/>
            <div class="carousel-caption">
                <p>
                    
                   
                </p>
            </div>
        </div>
       
    </div>
  
</div>


